body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.container {
	width: 100%;
	max-width: 970px;
	margin-left: 20%;
	margin-right: 20%;
}

#image2
.image2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




#content {
	background-color: rgba(255, 255, 255, 0.5);
	min-height: 200px;
	margin-top: 25px;
	padding: 15px;
}

#content img {
	width: 35%;
	margin: 10%;
	height: 30%;
}